@using TicariOtomasyon.Models.Siniflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4 class="mt-4">Fatura Kalemleri</h4>

<table class="table table-hover">
    <thead>
        <tr>        
            <th>Adet</th>
            <th>Birim Fiyat</th>
            <th>Tutar</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Miktar</td>
                <td>@x.BirimFiyat ₺</td>
                <td>@x.Tutar ₺ </td>
                <td>@x.Aciklama</td>
                <td><a href="/Fatura/FaturaKalemEkle/@x.Faturaid" class="btn btn-outline-primary">Fatura Kalem Ekle</a></td>
            </tr>
        }
    </tbody>
</table>
